<div class="container" id="app">
  <br/>
 <!-- <a href="https://byrodney.info" target="_blank"><img src="assets/images/logo.png" width="50" /></a> -->
  <header [@fallIn]="state">
    <button (click)="logout()" class="basic-btn">Logout</button>
  </header>
  <hr>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="d-flex flex-wrap flex-xl-nowrap flex-lg-nowrap flex-md-nowrap">
      <div class="p-2">
          <a href="#" target="_blank"><img src="assets/images/NgMandark.png" class="rounded" width="193" height="193" /></a>
      </div>
      <div class="p-2">
        <h5 class="alert-heading"><a href="#" target="_blank">Angular 5 with Redux - Guide</a></h5>
        <p>Master Angular 5 and build awesome, reactive web apps with the successor of Angular.js</p>
        <ul>
          <li>Develop modern, complex, responsive and scalable web applications with Angular</li>
          <li>Fully understand the architecture behind an Angular application and how to use it</li>
        </ul>
        <a href="https://github.com/Rodcode47/Todo-App" target="_blank" class="btn btn-danger">Redeem The Code!</a>
      </div>
    </div>
  </div>

  <div>
      <div class="card" [@moveInLeft]="state">
        <h2>Hey {{ name.auth.displayName }}!</h2>
          <div class="card-body">
            <h5 class="card-title">Welcome!</h5>
            <h3 class="card-title">Todos App</h3>
            <h6 class="card-subtitle mb-2 text-muted">Developed with Angular & Redux</h6>
            <app-todo-overview></app-todo-overview>
            <app-todo-list></app-todo-list>
          </div>
        </div>
  </div>

  <hr>
  <div class="footer">
    <p>&copy; <a href="#" target="_blank">2017</a> | <a href="https://byrodney.info" target="_blank">by Rodney</a> | <a href="#" target="_blank">Data Privacy Statement</a> | <a href="#" target="_blank">Affiliate Disclaimer</a></p>
  </div>
</div>
